USE [master]
GO
/****** Object:  Database [DaLi_GameExpress]    Script Date: 09/06/2019 14:36:45 ******/
CREATE DATABASE [DaLi_GameExpress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DaLi_GameExpress', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DaLi_GameExpress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DaLi_GameExpress_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DaLi_GameExpress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DaLi_GameExpress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DaLi_GameExpress]
GO
/****** Object:  Table [dbo].[DeveloperStudio]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeveloperStudio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NOT NULL,
	[Foundingdate] [date] NOT NULL,
 CONSTRAINT [PK_DeveloperStudio] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NOT NULL,
	[Rating] [int] NOT NULL,
	[Release] [date] NOT NULL,
	[PublisherID] [int] NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDeveloperStudio]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDeveloperStudio](
	[GameID] [int] NOT NULL,
	[DeveloperStudioID] [int] NOT NULL,
 CONSTRAINT [PK_GameDeveloperStudio] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[DeveloperStudioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePlatform]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePlatform](
	[GameID] [int] NOT NULL,
	[PlatformID] [int] NOT NULL,
 CONSTRAINT [PK_GamePlatform] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[PlatformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NOT NULL,
 CONSTRAINT [PK_Platform] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 09/06/2019 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NOT NULL,
	[Foundingdate] [date] NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([ID])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Publisher]
GO
ALTER TABLE [dbo].[GameDeveloperStudio]  WITH CHECK ADD  CONSTRAINT [FK_GameDeveloperStudio_DeveloperStudio] FOREIGN KEY([DeveloperStudioID])
REFERENCES [dbo].[DeveloperStudio] ([ID])
GO
ALTER TABLE [dbo].[GameDeveloperStudio] CHECK CONSTRAINT [FK_GameDeveloperStudio_DeveloperStudio]
GO
ALTER TABLE [dbo].[GameDeveloperStudio]  WITH CHECK ADD  CONSTRAINT [FK_GameDeveloperStudio_Game] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[GameDeveloperStudio] CHECK CONSTRAINT [FK_GameDeveloperStudio_Game]
GO
ALTER TABLE [dbo].[GamePlatform]  WITH CHECK ADD  CONSTRAINT [FK_GamePlatform_Game] FOREIGN KEY([GameID])
REFERENCES [dbo].[Game] ([ID])
GO
ALTER TABLE [dbo].[GamePlatform] CHECK CONSTRAINT [FK_GamePlatform_Game]
GO
ALTER TABLE [dbo].[GamePlatform]  WITH CHECK ADD  CONSTRAINT [FK_GamePlatform_Platform] FOREIGN KEY([PlatformID])
REFERENCES [dbo].[Platform] ([ID])
GO
ALTER TABLE [dbo].[GamePlatform] CHECK CONSTRAINT [FK_GamePlatform_Platform]
GO
USE [master]
GO
