@using DaLiExpress.Models
@{

}


<h2> Index </h2>
<p>
    @*@(this.Html.ActionLink("Create New", "Create"))*@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => )*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Rating)*@
        </th>
        <th></th>
    </tr>

</table>